
<div class="text-center">
  <h1>Carrito de compras</h1>
</div>

<ul>
  {{#each cartProducts}}
    <li class="card">
      <div>
        <img src="{{this.image}}" class="card-img-top" alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: {{price}}</li>
        <li class="list-group-item">Cantidad: {{quantity}}</li>
      </ul>
      <div>
        <form action="/api/dbcarts/{{../cartProducts._id}}/products/" method="DELETE">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>

<div class="text-center mt-3">
  <a href="/html/dbproducts" class="btn btn-primary">Seguir comprando</a>
</div>
