<div class="container">
  <div class="container col-md-6 align-self-center p-5">
    <form action="/api/products" method="post" id="form">
      <label for="title" class="form-label"></label>

      <input
        type="text"
        class="form-control form-control-sm"
        name="title"
        placeholder="Nombre del producto"
        id="form-title"
        required
      />

      <label for="description" class="form-label"></label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="description"
        placeholder="Descripción del producto"
        id="form-desc"
        required
      />
      <label for="price" class="form-label"></label>
      <input
        type="number"
        class="form-control form-control-sm"
        name="price"
        placeholder="Ingrese el monto"
        id="form-price"
        required
      />
      <label for="code" class="col-form-label"></label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="code"
        placeholder="Ingresa un nuevo codigo"
        id="form-code"
        required
      />
      <label for="stock" class="col-form-label"></label>
      <input
        type="number"
        class="form-control form-control-sm"
        name="stock"
        placeholder="Stock disponible"
        id="form-stock"
        required
      />
      <label for="image" class="col-form-label"></label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="image"
        placeholder="Coloque la url de la imagen"
        id="form-imgurl"
        required
      />
      <input
        type="submit"
        id="sendBtn"
        class="btn btn-success form-control-sm"
        value="Crear producto"
      />
    </form>
  </div>
<div id="product-list" class="row gx-5">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Código</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <td>
            <img src="{{this.image}}" class="img-thumbnail" alt="..." />
          </td>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>{{this.price}}</td>
          <td>{{this.code}}</td>
          <td>
            <button onclick="deleteProduct({{this.id}})" class="btn btn-danger">Borrar</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
</div>